/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;700&family=Poiret+One&display=swap");

body {
  background-color: #0A0F0E;
  font-family: "Maitree", "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: rgb(185, 185, 185);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", "Merriweather", serif;
  font-size: 32px;
  color: #66FADC;
}

.header {
  display: block;
  margin: auto;
  width: 75%;
  justify-items: center;
}

.navigation {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
  border-bottom: 3px solid rgb(185, 185, 185);
  margin-bottom: 1em;
  font-size: 1.2em;
}

.nav-header {
  color: #D68B49;
}

.page-name-space {
  grid-column: 1;
  display: flex;
  justify-content: center;
  text-align: bottom;
  align-items: flex-end;
  padding-right: 0.8em;
}

.page-img {
  grid-column: 2;
}

.page-name {
  font-size: 3em;
  text-align: center;
  color: #66FADC;
  border-bottom: 3px solid rgb(185, 185, 185);
}

.page-id-space {
  display: grid;
  grid-template-columns: 25% 1fr;
  height: 100%;
}

#main-intro {
  /* width: 90%; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  text-align: left;
}

#main-header {
  grid-column: 2;
  text-align: center;
  margin-top: 4em;
}

#intro-paragraph {
  padding-right: 3em;
}

#intro-img {
  grid-row: 1/3;
  grid-column: 1;
  padding: 1em;
  width: 50%;
  justify-self: center;
  align-self: flex-end;
}

#play-styles {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

#style-header {
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
}

#style-paragraph {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  margin: auto;
  width: 50%;
}

#style-img {
  grid-row: 2;
  grid-column: 2;
  padding: 1em;
  width: 70%;
  justify-self: center;
  align-self: flex-end;
}

.footer-elements {
  width: 75%;
  justify-items: center;
  margin: auto;
  display: grid;
  color: rgba(185, 185, 185, 0.281);
  list-style-type: none;
  grid-template-columns: 70% 1fr 1fr 1fr;
}

.footer-copyright {
  justify-self: left;
}

.footer-nav {
  color: #d68b4973;
}

.footer-social {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr 300px 1fr;
}

.social-header {
  grid-row: 1;
  grid-column: 1/4;
  margin: auto;
  margin-top: 1.2em;
}

.footer-social ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  grid-column: 2/3;
}

.footer-social ul img {
  opacity: 30%;
}

.footer-social ul img:hover {
  opacity: 80%;
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 75%;
}

.footer-elements img {
  filter: invert(30%);
}

.footer-elements img:hover {
  filter: invert(80%);
}

a:hover {
  color: #66FADC;
}

